<!DOCTYPE html>
<html lang="en" data-bs-theme="light">



<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--meta-->
    <meta name="description"
        content="Grostore Grocery  eCommerce html template. Multivendor responsive eCommerce template">
    <meta name="author" content="ThemeTags">
    <meta name="keywords"
        content="Grostore Grocery  ecommerce, admin template, online shop, e-commerce, ecommerce template, marketplace, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <!--favicon icon-->
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" sizes="16x16">

    <!--title-->
    <title>Grostore - Contact Us - Grostore Grocery eCommerce HTML Template</title>

    <!--build:css-->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--preloader start-->
    <div id="preloader">
        <img src="/assets/img/preloader.gif" alt="preloader" width="450" class="img-fluid">
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--header section start-->
        {{>header}}
        <!--header section end-->

        <!--offcanvas menu start-->
        <div class="offcanvas_menu position-fixed">
            <div class="tt-short-info d-none d-md-none d-lg-none d-xl-block">
                <button class="offcanvas-close"><i class="fa-solid fa-xmark"></i></button>
                <a href="#" class="logo-wrapper d-inline-block mb-5"><img src="/assets/img/logo.png" alt="logo" /></a>
                <div class="offcanvas-content">
                    <h4 class="mb-4">About Us</h4>
                    <p>
                        Explain to you how all this mistaken denouncing pleasure and praising pain was born and we will
                        give you
                        a complete account of the system, and expound the actual teachings.
                    </p>
                    <p>
                        Mistaken denouncing pleasure and praising pain was born and we will give you complete account of
                        the
                        system expound.
                    </p>
                    <a href="#" class="btn btn-primary mt-4">About Us</a>
                </div>
                <div class="offcanvas-contact mt-5">
                    <h5 class="mb-20">Contact Info</h5>
                    <address>
                        Chicago 12, Melborne City, USA <br />
                        <a href="tel:+8801682648101">+8801682648101</a> <br />
                        <a href="mailto:info@example.com">info@example.com</a>
                    </address>
                </div>
                <div class="social-contact offcanvas_social mt-4">
                    <a href="#" class="social-btn"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-btn"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-btn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-btn"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-btn"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="mobile-menu d-md-block d-lg-block d-xl-none">
                <button class="offcanvas-close"><i class="fa-solid fa-xmark"></i></button>
                <a href="#" class="d-inline-block mb-5"><img src="/assets/img/logo.png" alt="logo" /></a>
                <nav class="mobile-menu-wrapper mt-4">
                    <ul>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Home<span class="ms-1 fs-xs float-end"><i
                                        class="fa-solid fa-angle-right"></i></span></a>
                            <ul>
                                <li><a href="index.html">Grocery Store</a></li>
                                <li><a href="index-2.html">Natural Store</a></li>
                                <li><a href="index-3.html">Organic Store</a></li>
                                <li><a href="index-4.html">Halal Meat Store</a></li>
                                <li><a href="index-5.html">Meat Store</a></li>
                                <li><a href="index-6.html">Medicine Store</a></li>
                                <li><a href="index-7.html">Furniture Store</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Products<span class="ms-1 fs-xs float-end"><i
                                        class="fa-solid fa-angle-right"></i></span></a>
                            <ul>
                                <li><a href="shop-grid.html">Shop Grid</a></li>
                                <li><a href="shop-grid-2.html">Shop Grid V2</a></li>
                                <li><a href="product-details.html">Product Details</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Blog<span class="ms-1 fs-xs float-end"><i
                                        class="fa-solid fa-angle-right"></i></span></a>
                            <ul>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-listing.html">Blog List</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Pages<span class="ms-1 fs-xs float-end"><i
                                        class="fa-solid fa-angle-right"></i></span></a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="service-details.html">Service Details</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="invoice.html">Invoice</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="signup.html">Sign Up</a></li>
                                <li><a href="404.html">404 Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="contact-info mt-8">
                    <h5 class="mb-20">Contact Info</h5>
                    <address>
                        Chicago 12, Melborne City, USA <br />
                        <a href="tel:+8801682648101">+8801682648101</a> <br />
                        <a href="mailto:info@example.com">info@example.com</a>
                    </address>
                    <div class="social-contact">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--offcanvas menu end-->

        <!--contact us section start-->
        <section class="contact-us-section position-relative overflow-hidden z-1 pt-80 pb-120">
            <img src="/assets/img/shapes/frame-circle.svg" alt="frame circle"
                class="position-absolute frame z--1 d-none d-sm-block">
            <img src="/assets/img/shapes/roll-2.png" alt="roll" class="position-absolute roll-2 z--1">
            <img src="/assets/img/shapes/pata-xs.svg" alt="pata" class="position-absolute pata z--1">
            <img src="/assets/img/shapes/garlic-white.png" alt="garlic" class="position-absolute garlic z--1">
            <img src="/assets/img/shapes/roll-1.png" alt="roll" class="position-absolute roll-1 z--1">
            <img src="/assets/img/shapes/leaf.svg" alt="leaf" class="position-absolute leaf z--1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        <div class="breadcrumb-content">
                            <h2 class="mb-2 text-center">Get In Touch</h2>
                            <nav>
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item fw-bold" aria-current="page"><a
                                            href="index.html">Home</a></li>
                                    <li class="breadcrumb-item fw-bold" aria-current="page">Page</li>
                                    <li class="breadcrumb-item fw-bold" aria-current="page">Add Product</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="contact-box rounded-2 bg-white overflow-hidden mt-8">
                    <div class="row g-4">
                        <div class="col-xl-12">
                            <form class="contact-form ps-5 ps-xl-4 py-6 pe-6" action="/add-product" method="post" enctype="multipart/form-data">
                                <h3 class="mb-6">Add New Product</h3>
                                <div class="row g-4">
                                    <div class="col-sm-6">
                                        <div class="label-input-field">
                                            <label>Product Title</label>
                                            <input type="text" name="title" placeholder="Product Title">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="label-input-field">
                                            <label>Product Price</label>
                                            <input type="number" name="price" placeholder="Product Price">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="label-input-field">
                                            <label>Total Stock</label>
                                            <input type="number" name="stock" placeholder="Total Stock">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="label-input-field">
                                            <label>Short description</label>
                                            <input type="text" maxlength="100" name="shortdescription"
                                                placeholder="Short description">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="label-input-field">
                                            <label>Measurement</label>
                                            <input type="number" name="measurement"
                                                placeholder="Product Measurement 1, 1.5, ">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="label-input-field">
                                            <label>Measurement Type</label>
                                            <select name="measurementtype" id="" class="form-control">
                                                <option value="">Select measurement</option>
                                                <option value="kg">kg</option>
                                                <option value="lb">lb</option>
                                                <option value="dozen">dozen</option>
                                                <option value="piece">piece</option>
                                            </select>
                                            {{!-- <input type="text" maxlength="20" name="phone"
                                                placeholder="Short description"> --}}
                                        </div>
                                    </div>
                                    {{!-- <div class="col-sm-6">
                                        <div class="label-input-field">
                                            <label>Product Tags</label>
                                            <input type="text" name="tags"
                                                placeholder="Write tags and seperate by comma">
                                        </div>
                                    </div> --}}
                                    <div class="col-12">
                                        <div class="label-input-field">
                                            <div class="d-flex justify-content-between mb-3">
                                                <div class="">Product Tags</div>
                                                <div class="btn-sm btn-primary text-white" onclick="addTag()">add more
                                                </div>
                                            </div>
                                            <div id="tagcontainer">
                                                <div class="input-group mb-2">
                                                    <input type="text" class="form-control" name="tags"
                                                        placeholder="Enter Tag">
                                                    <div class="btn btn-danger text-white" onclick="removeInput(this)">
                                                        Delete</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="label-input-field">
                                            <label>Category</label>
                                            <select name="category" id="" class="form-control">
                                                <option value="">Select category</option>
                                                <option value="Vegetable">Vegetable</option>
                                                <option value="Baby Care">Baby Care</option>
                                                <option value="Fresh Fruits">Fresh Fruits</option>
                                                <option value="Honey">Honey</option>
                                                <option value="Coffee & Drinks">Coffee & Drinks</option>
                                                <option value="Jam & Jelly">Jam & Jelly</option>
                                                <option value="Bakery & Biscuits">Bakery & Biscuits</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="label-input-field">
                                            <div class="d-flex justify-content-between mb-3">
                                                <div class="">Properties</div>
                                                <div class="btn-sm btn-primary text-white" onclick="addInput()">add more
                                                </div>
                                            </div>
                                            {{!-- <input type="file" name="images" placeholder="Product Images"> --}}
                                            <div id="inputContainer">
                                                <div class="input-group mb-2">
                                                    {{!-- <div class="input-group-text">
                                                        <input type="checkbox" name="properties"
                                                            class="form-check-input" disabled>
                                                    </div> --}}
                                                    <input type="text" class="form-control" name="properties"
                                                        placeholder="Enter Property">
                                                    <div class="btn btn-danger text-white" onclick="removeInput(this)">
                                                        Delete</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="label-input-field">
                                            <label>Images</label>
                                            <input type="file" name="images" accept=".jpeg, .jpg, .png, .gif" multiple placeholder="Product Images">
                                        </div>
                                    </div>
                                    {{!-- <div class="col-sm-6">
                                        <div class="label-input-field">
                                            <label>Images</label>
                                            <select name="refund" id="" class="form-control">
                                                <option value="">Select category</option>
                                                <option value="Vegetable">Vegetable</option>
                                                <option value="Baby Care">Baby Care</option>
                                                <option value="Fresh Fruits">Fresh Fruits</option>
                                                <option value="Honey">Honey</option>
                                                <option value="Coffee & Drinks">Coffee & Drinks</option>
                                                <option value="Jam & Jelly">Jam & Jelly</option>
                                                <option value="Bakery & Biscuits">Bakery & Biscuits</option>
                                            </select>
                                        </div>
                                    </div> --}}
                                    {{!-- <div class="col-12">
                                        <div class="checkbox-fields d-flex align-items-center gap-3 flex-wrap my-2">
                                            <div class="single-field d-inline-flex align-items-center gap-2">
                                                <div class="theme-checkbox">
                                                    <input type="checkbox" name="colors" id="delivery" value="delivery">
                                                    <span class="checkbox-field"><i class="fas fa-check"></i></span>
                                                </div>
                                                <label for="delivery" class="text-dark fw-semibold">Delivery
                                                    Problem</label>
                                            </div>
                                            <div class="single-field d-inline-flex align-items-center gap-2">
                                                <div class="theme-checkbox">
                                                    <input type="checkbox" name="colors" id="service" value="service">
                                                    <span class="checkbox-field"><i class="fas fa-check"></i></span>
                                                </div>
                                                <label for="service" class="text-dark fw-semibold">Customer
                                                    Service</label>
                                            </div>
                                            <div class="single-field d-inline-flex align-items-center gap-2">
                                                <div class="theme-checkbox">
                                                    <input type="checkbox" name="colors" id="others" value="others">
                                                    <span class="checkbox-field"><i class="fas fa-check"></i></span>
                                                </div>
                                                <label for="others" class="text-dark fw-semibold">Others Service</label>
                                            </div>
                                        </div>
                                    </div> --}}
                                    <div class="col-12">
                                        <div class="label-input-field">
                                            <label>Description</label>
                                            <textarea placeholder="Description" name="description" rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-md rounded-1 mt-6">Send
                                    Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--contact us section end-->


        <!--footer section start-->
        {{>footer}}

        {{>mobilemenu}}<!--footer section end-->

    </div>

    <!--scroll bottom to top button start-->
    <button class="scroll-top-btn">
        <i class="fa-regular fa-hand-pointer"></i>
    </button>
    <!--scroll bottom to top button end-->
    <!--build:js-->
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/jquery-ui.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="/assets/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/vendors/simplebar.min.js"></script>
    <script src="/assets/js/vendors/parallax-scroll.js"></script>
    <script src="/assets/js/vendors/isotop.pkgd.min.js"></script>
    <script src="/assets/js/vendors/countdown.min.js"></script>
    <script src="/assets/js/vendors/range-slider.js"></script>
    <script src="/assets/js/vendors/waypoints.js"></script>
    <script src="/assets/js/vendors/counterup.min.js"></script>
    <script src="/assets/js/vendors/typer.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--endbuild-->

    <script>
        const message = "{{ message }}";
        const error = "{{ error }}";

        if (message.trim() !== "") {
            Swal.fire({
                title: "Successful",
                text: message,
                icon: "success"
            });
        }

        if (error.trim() !== "") {
            Swal.fire({
                title: "Error Occurred",
                text: error,
                icon: "error"
            });
        }
    </script>
    <script>
        function addInput() {
            let container = document.getElementById("inputContainer");
            let newInput = document.createElement("div");
            newInput.classList.add("input-group", "mb-2");
            newInput.innerHTML = `
                <input type="text" class="form-control" name="properties" placeholder="Enter text">
                <div class="btn btn-danger text-white" onclick="removeInput(this)">Remove</div>
            `;
            container.appendChild(newInput);
        }
        function addTag() {
            let container = document.getElementById("tagcontainer");
            let newInput = document.createElement("div");
            newInput.classList.add("input-group", "mb-2");
            newInput.innerHTML = `
                <input type="text" class="form-control" name="tags" placeholder="Enter tag">
                <div class="btn btn-danger text-white" onclick="removeInput(this)">Delete</div>
            `;
            container.appendChild(newInput);
        }

        function removeInput(button) {
            button.parentElement.remove();
        }
    </script>

</body>



</html>