<!DOCTYPE html>
<html lang="en" data-bs-theme="light">


<!-- Mirrored from grostore-html.themetags.com/invoice.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2025 12:11:10 GMT -->
<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--meta-->
    <meta name="description" content="Grostore Grocery  eCommerce html template. Multivendor responsive eCommerce template">
    <meta name="author" content="ThemeTags">
    <meta name="keywords" content="Grostore Grocery  ecommerce, admin template, online shop, e-commerce, ecommerce template, marketplace, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <!--favicon icon-->
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" sizes="16x16">

    <!--title-->
    <title>Grostore - Invoice - Grostore Grocery eCommerce HTML Template</title>

    <!--build:css-->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--preloader start-->
    <div id="preloader">
        <img src="/assets/img/preloader.gif" alt="preloader" width="450" class="img-fluid">
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--header section start-->
       {{>header}}
        <!--header section end-->

        <!--offcanvas menu start-->
        <div class="offcanvas_menu position-fixed">
            <div class="tt-short-info d-none d-md-none d-lg-none d-xl-block">
                <button class="offcanvas-close"><i class="fa-solid fa-xmark"></i></button>
                <a href="#" class="logo-wrapper d-inline-block mb-5"><img src="/assets/img/logo.png" alt="logo" /></a>
                <div class="offcanvas-content">
                    <h4 class="mb-4">About Us</h4>
                    <p>
                        Explain to you how all this mistaken denouncing pleasure and praising pain was born and we will give you
                        a complete account of the system, and expound the actual teachings.
                    </p>
                    <p>
                        Mistaken denouncing pleasure and praising pain was born and we will give you complete account of the
                        system expound.
                    </p>
                    <a href="#" class="btn btn-primary mt-4">About Us</a>
                </div>
                <div class="offcanvas-contact mt-5">
                    <h5 class="mb-20">Contact Info</h5>
                    <address>
                        Chicago 12, Melborne City, USA <br />
                        <a href="tel:+8801682648101">+8801682648101</a> <br />
                        <a href="mailto:info@example.com">info@example.com</a>
                    </address>
                </div>
                <div class="social-contact offcanvas_social mt-4">
                    <a href="#" class="social-btn"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-btn"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-btn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-btn"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-btn"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="mobile-menu d-md-block d-lg-block d-xl-none">
                <button class="offcanvas-close"><i class="fa-solid fa-xmark"></i></button>
                <a href="#" class="d-inline-block mb-5"><img src="/assets/img/logo.png" alt="logo" /></a>
                <nav class="mobile-menu-wrapper mt-4">
                    <ul>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Home<span class="ms-1 fs-xs float-end"><i class="fa-solid fa-angle-right"></i></span></a>
                            <ul>
                                <li><a href="index.html">Grocery Store</a></li>
                                <li><a href="index-2.html">Natural Store</a></li>
                                <li><a href="index-3.html">Organic Store</a></li>
                                <li><a href="index-4.html">Halal Meat Store</a></li>
                                <li><a href="index-5.html">Meat Store</a></li>
                                <li><a href="index-6.html">Medicine Store</a></li>
                                <li><a href="index-7.html">Furniture Store</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Products<span class="ms-1 fs-xs float-end"><i class="fa-solid fa-angle-right"></i></span></a>
                            <ul>
                                <li><a href="shop-grid.html">Shop Grid</a></li>
                                <li><a href="shop-grid-2.html">Shop Grid V2</a></li>
                                <li><a href="product-details.html">Product Details</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Blog<span class="ms-1 fs-xs float-end"><i class="fa-solid fa-angle-right"></i></span></a>
                            <ul>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-listing.html">Blog List</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Pages<span class="ms-1 fs-xs float-end"><i class="fa-solid fa-angle-right"></i></span></a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="service-details.html">Service Details</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="invoice.html">Invoice</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="signup.html">Sign Up</a></li>
                                <li><a href="404.html">404 Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="contact-info mt-8">
                    <h5 class="mb-20">Contact Info</h5>
                    <address>
                        Chicago 12, Melborne City, USA <br />
                        <a href="tel:+8801682648101">+8801682648101</a> <br />
                        <a href="mailto:info@example.com">info@example.com</a>
                    </address>
                    <div class="social-contact">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--offcanvas menu end-->

        <!--invoice section start-->
        <section class="invoice-section pt-6 pb-120">
            <div class="container">
                <div class="invoice-box bg-white rounded p-4 p-sm-6">
                    <div class="row g-5 justify-content-between">
                        <div class="col-lg-6">
                            <div class="invoice-title d-flex align-items-center">
                                <h3>Invoice</h3>
                                <span class="badge rounded-pill bg-primary-light text-primary fw-medium ms-3">Delivered</span>
                            </div>
                            <table class="invoice-table-sm">
                                <tr>
                                    <td><strong>Invoice No</strong></td>
                                    <td>#INV-000414</td>
                                </tr>
                                <tr>
                                    <td><strong>Shipment ID</strong></td>
                                    <td>#INV-000414</td>
                                </tr>
                                <tr>
                                    <td><strong>Date</strong></td>
                                    <td>15 January, 2023</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-5 col-md-8">
                            <div class="text-lg-end">
                                <a href="#"><img src="/assets/img/logo.png" alt="logo" class="img-fluid"></a>
                                <h6 class="mb-0 text-gray mt-4">Cecilia Chapman, 711-2880 Nulla St, Mankato Mississippi 96522</h6>
                            </div>
                        </div>
                    </div>
                    <span class="my-6 w-100 d-block border-top"></span>
                    <div class="row justify-content-between g-5">
                        <div class="col-xl-8 col-lg-7">
                            <div class="welcome-message">
                                <h4 class="mb-2">Dear Fethawi Tesfalem</h4>
                                <p class="mb-0">Here are your order details. We thank you for your purchase.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="shipping-address">
                                <h6 class="mb-2">Shipping Address</h6>
                                <p class="mb-0">Unit 1/23 Hastings Road, Melbourne 3000, Victoria, Australia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-6">
                        <table class="table invoice-table">
                            <tr>
                                <th>SR.</th>
                                <th>Products</th>
                                <th>SKU</th>
                                <th>QTY</th>
                                <th>Item Price</th>
                                <th>Amount</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-nowrap">
                                    <img src="/assets/img/products/cauliflower-xs.png" alt="product" class="img-fluid product-item">
                                    <span class="ms-2">Strawberry Green Magnetic </span>
                                </td>
                                <td>04928001</td>
                                <td>02</td>
                                <td>$240.00</td>
                                <td>$480.00</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-nowrap">
                                    <img src="/assets/img/products/cauliflower-xs.png" alt="product" class="img-fluid product-item">
                                    <span class="ms-2">Strawberry Green Magnetic </span>
                                </td>
                                <td>04928001</td>
                                <td>02</td>
                                <td>$240.00</td>
                                <td>$480.00</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-4 table-responsive">
                        <table class="table footer-table">
                            <tr>
                                <td>
                                    <strong class="text-dark d-block text-nowrap">Payment Method</strong>
                                    <span>Paypal</span>
                                </td>
                                <td>
                                    <strong class="text-dark d-block text-nowrap">Shipping Cost</strong>
                                    <span>$60.00</span>
                                </td>
                                <td>
                                    <strong class="text-dark d-block text-nowrap">Discount</strong>
                                    <span>00.00</span>
                                </td>
                                <td>
                                    <strong class="text-dark d-block text-nowrap">Total Price</strong>
                                    <span>$580.00</span>
                                </td>
                                <td>
                                    <strong class="text-dark d-block text-nowrap">Total Amount</strong>
                                    <span class="text-primary fw-bold">$580.00</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mt-7">
                        <a href="#" class="btn btn-primary btn-md">Pricing Invoice</a>
                        <a href="#" class="btn btn-primary-light btn-md">Download Invoice</a>
                    </div>
                </div>
            </div>
        </section> <!--invoice section end-->

        <!--footer section start-->
        {{>footer}}

        {{>mobilemenu}} <!--footer section end-->

    </div>

    <!--scroll bottom to top button start-->
    <button class="scroll-top-btn">
        <i class="fa-regular fa-hand-pointer"></i>
    </button>
    <!--scroll bottom to top button end-->
    <!--build:js-->
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/jquery-ui.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="/assets/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/vendors/simplebar.min.js"></script>
    <script src="/assets/js/vendors/parallax-scroll.js"></script>
    <script src="/assets/js/vendors/isotop.pkgd.min.js"></script>
    <script src="/assets/js/vendors/countdown.min.js"></script>
    <script src="/assets/js/vendors/range-slider.js"></script>
    <script src="/assets/js/vendors/waypoints.js"></script>
    <script src="/assets/js/vendors/counterup.min.js"></script>
    <script src="/assets/js/vendors/typer.js"></script>
    <script src="/assets/js/app.js"></script>
    <!--endbuild-->
</body>


<!-- Mirrored from grostore-html.themetags.com/invoice.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2025 12:11:10 GMT -->
</html>